game-field {
  padding: 1rem 0;
  width: 100%;

  ul {
    list-style: none;
    font-size: 1.5rem;
  }

  li {
    display: flex;
    padding: 5px 0;
    border-radius: 5px;
    margin: 0.5rem 0;
    width: 100%;
    background-color: var(--highlight);
    height: 50px;
    align-items: center;

    &.active {
      background-color: #e4e4e4;
    }
  }

  .input {
    width: 40px;
    height: 40px;
    margin: 0 7.665px;
    border-radius: 5px;
  }

  .input--1 {
    background-color: var(--input1);
  }

  .input--2 {
    background-color: var(--input2);
  }

  .input--3 {
    background-color: var(--input3);
  }

  .input--4 {
    background-color: var(--input4);
  }

  .input--5 {
    background-color: var(--input5);
  }

  .input--6 {
    background-color: var(--input6);
  }

  .input--correct {
    border-bottom: 10px solid lime;
  }

  .input--close {
    border-bottom: 10px solid yellow;
  }

  .input--wrong {
    border-bottom: 10px solid red;
  }
}
