game-field {
  padding: 1rem 0 2.5rem;
  width: 100%;

  ul {
    list-style: none;
    font-size: 1.5rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 280px;
  }

  li {
    display: flex;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    scroll-snap-align: start;
    position: relative;
    padding-top: 15px;

    div {
      margin: 0 0 0.75rem 0;
      position: relative;
      background-color: var(--highlight);
      height: 42px;
      width: 100%;
      display: flex;
      padding: 5px 0;
    }
  }

  .input {
    width: 25%;
    max-width: 66.666px;
    height: 32px;
    margin: 0 7.665px;
    border-radius: 5px;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: absolute;
      top: -9px;
      right: -9px;
    }
  }

  .input--1 {
    background-color: var(--input1);
  }

  .input--2 {
    background-color: var(--input2);
  }

  .input--3 {
    background-color: var(--input3);
  }

  .input--4 {
    background-color: var(--input4);
  }

  .input--5 {
    background-color: var(--input5);
  }

  .input--6 {
    background-color: var(--input6);
  }

  .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  .icon--correct {
    background-color: lime;
  }

  .icon--wrong {
    background-color: red;
  }

  .icon--2 {
    right: 15px;
  }

  .icon--1 {
    right: 30px;
  }

  .icon--0 {
    right: 45px;
  }
}
